<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda de Consultas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/lista.css"> 
    </head>
    <body>
        <a href="/" class="icone" title="Ir para a Página Inicial">
            <i class="fas fa-home"></i> 
        </a>
        <h1 class="text-center">Agenda de Consultas</h1>
        <div class="container-fluid mt-3">
             <div class="table-container" style="width: 80%; max-width: 1200px; margin: 0 auto;">
        <table class="table table-bordered table-striped mt-4">

                <thead class="thead">
                    <tr>
                        <th>Selecionar</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                        <th>Descrição</th>
                        <th>Pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="consulta : ${consultas}">
                        <td>
                            <input type="radio" name="selectedConsulta" th:value="${consulta.id}">
                        </td>
                        <td th:text="${consulta.data}"></td>
                        <td th:text="${consulta.hora}"></td>
                        <td th:text="${consulta.paciente.nome}"></td> <!-- Alterado para acessar diretamente o nome do paciente -->
                        <td th:text="${consulta.descricao}"></td>
                        <td th:text="${consulta.pago ? 'Sim' : 'Não'}"></td>
                    </tr>
                </tbody>
            </table>
             </div>

            <!-- Botões de ação -->
            <div class="mt-4 text-center">
                <button id="editarBtn" class="btn btn-primary">Editar</button>
                <button id="excluirBtn" class="btn btn-danger">Excluir</button>
            </div>
        </div>

        <script>
            // Função para editar paciente
            document.getElementById('editarBtn').addEventListener('click', function () {
                const selectedConsulta = document.querySelector('input[name="selectedConsulta"]:checked');
                if (selectedConsulta) {
                    const consultaId = selectedConsulta.value;
                    window.location.href = '/consultas/editar/' + consultaId;
                } else {
                    alert('Selecione uma consulta para editar.');
                }
            });

            // Função para excluir paciente
            document.getElementById('excluirBtn').addEventListener('click', function () {
                const selectedConsulta = document.querySelector('input[name="selectedConsulta"]:checked');
                if (selectedConsulta) {
                    const consultaId = selectedConsulta.value;
                    deletarConsulta(consultaId);
                } else {
                    alert('Selecione uma consulta para excluir.');
                }
            });

            // Função de deleção via AJAX
            function deletarConsulta(id) {
                if (confirm("Tem certeza que deseja excluir esta consulta?")) {
                    fetch('/consultas/' + id, {
                        method: 'DELETE'
                    })
                            .then(response => {
                                if (response.ok) {
                                    alert('Consulta excluída com sucesso!');
                                    window.location.href = '/consultas/agenda';
                                } else {
                                    alert('Erro ao excluir a consulta.');
                                }
                            })
                            .catch(error => {
                                alert('Erro ao excluir a consulta.: ' + error);
                            });
                }
            }
        </script>
         </body>
</html>

