<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Pacientes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/lista.css"> 
    </head>
        <a href="/" class="icone" title="Ir para a Página Inicial">
            <i class="fas fa-home"></i> 
        </a>
    <div class="text-center mt-3">
            <h1>Pacientes Cadastrados</h1>
        </div>
        <div class="container-fluid mt-3">
            <div class="table-container" style="width: 80%; max-width: 1000px; margin: 0 auto;">
        <table class="table table-bordered table-striped mt-4">
            <thead class="thead">
                    <tr>
                        <th>Selecionar</th>
                        <th>Nome</th>
                        <th>Espécie</th>
                        <th>Raça</th>
                        <th>Sexo</th>
                        <th>Idade</th>
                        <th>Peso</th>
                        <th>Observações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="paciente : ${pacientes}">
                        <td>
                            <input type="radio" name="selectedPaciente" th:value="${paciente.id}">
                        </td>
                        <td th:text="${paciente.nome}"></td>
                        <td th:text="${paciente.especie}"></td>
                        <td th:text="${paciente.raca}"></td>
                        <td th:text="${paciente.sexo}"></td>
                        <td th:text="${paciente.idade}"></td>
                        <td th:text="${paciente.peso}"></td>
                        <td th:text="${paciente.observacoes}"></td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="mt-4 text-center">
                <button id="editarBtn" class="btn btn-primary">Editar</button>
                <button id="excluirBtn" class="btn btn-danger">Excluir</button>
            </div>
        </div>

        <script>
            document.getElementById('editarBtn').addEventListener('click', function () {
                const selectedPaciente = document.querySelector('input[name="selectedPaciente"]:checked');
                if (selectedPaciente) {
                    const pacienteId = selectedPaciente.value;
                    window.location.href = '/pacientes/editar/' + pacienteId;
                } else {
                    alert('Selecione um paciente para editar.');
                }
            });

            document.getElementById('excluirBtn').addEventListener('click', function () {
                const selectedPaciente = document.querySelector('input[name="selectedPaciente"]:checked');
                if (selectedPaciente) {
                    const pacienteId = selectedPaciente.value;
                    deletarPaciente(pacienteId);
                } else {
                    alert('Selecione um paciente para excluir.');
                }
            });

            function deletarPaciente(id) {
                if (confirm("Tem certeza que deseja excluir este paciente?")) {
                    fetch('/pacientes/' + id, {
                        method: 'DELETE'
                    })
                            .then(response => {
                                if (response.ok) {
                                    alert('Paciente excluído com sucesso!');
                                    window.location.href = '/pacientes/lista';
                                } else {
                                    alert('Erro ao excluir o paciente.');
                                }
                            })
                            .catch(error => {
                                alert('Erro ao excluir o paciente: ' + error);
                            });
                }
            }
        </script>
    </body>
</html>
